#Build directories
/build/
/build
#Bochs logging
/bochslog.txt
/serial.txt
#Bochs symbol tables
/kernel.sym
#Anything you compiled from the utils/ directory
/utils/a.out
#Cross-compilers
/ports/
/cross/
