# SPDX-License-Identifier: MIT
# Copyright (c) 2021 James McNaughton Felder
ifeq ($(HOSTARCH), i386)
	include $(DRIVERDIR)/uart/make.config
else ifeq ($(HOSTARCH), arm)
	include $(DRIVERDIR)/pl011/make.config
else
	KERNEL_DRIVER_SERIAL_OBJS=
endif
include $(DRIVERDIR)/framebuffer/make.config

KERNEL_DRIVER_OBJS=\
$(KERNEL_DRIVER_SERIAL_OBJS)\
$(KERNEL_DRIVER_FRAMEBUFFER_OBJS)\
